.posts-container
  - @recent_posts.each do |post|
    %li 
      .title= post.title
      .content= raw post.body
      .date
        %b published: 
        = post.created_at.strftime('%d-%B-%Y')

=render "sidebar"
