.posts-container
  .title= @post.title
  .content= raw @post.body
  .date
    %b published: 
    = @post.created_at.strftime('%d-%B-%Y')
  .tag
    %b tags:
    = @post.tag_names  

=render "welcome/sidebar"