.posts-container
  width: 600px
  height: 100%
  margin-top: 20px

  .title
    color: white
    font-size: 18px
    font-weight: bold
    background: $base-red
    padding: 5px

  .content
    font-size: 14px
    margin: 5px 0 5px 0

  .tag 
    margin: 5px 0 5px 0
    font-size: 12px    
    font-style: italic


  li
    list-style: none