.posts-container
  width: 630px
  height: 100%
  margin-top: 20px
  float: left
  overflow: hidden

  .title
    color: white
    font-size: 18px
    font-weight: bold
    background: $base-red
    padding: 5px

  .content
    font-size: 14px
    margin: 5px 0 5px 0

  .tag 
    margin: 5px 0 5px 0
    font-size: 12px    
    font-style: italic

  .date
    font-size: 12px
    margin: 5px 0 5px 0  


  li
    list-style: none

.sidebar
  text-align: center
  float: right
  width: 250px
  height: 100%
  margin-top: 20px
  background: $base-red

  .sidebar-heading
    width: 100%
    font-size: 16px
    height: 35px
    color: white
    overflow: hidden
