.posts-container
  width: 630px
  height: 100%
  margin-top: 20px
  float: left
  overflow: hidden

  .title
    color: white
    font-size: 18px
    font-weight: bold
    background: $base-red
    padding: 5px

  .content
    font-size: 14px
    margin: 5px 0 5px 0

  .tag 
    margin: 5px 0 5px 0
    font-size: 12px    
    font-style: italic

  .date
    font-size: 12px
    margin: 5px 0 5px 0  


  li
    list-style: none

.sidebar
  float: right
  width: 250px
  height: 100%
  margin-top: 20px

  .archive-container
    text-align: center
    font-weight: bold
    width: 100%
    font-size: 18px
    height: 35px
    background: $base-red
    color: white
    margin-bottom: 5px

  .month
    font-size: 14px
    color: $base-red
    font-weight: bold  

  .title
    font-size: 12px
    color: black

